.container {
  display: flex;
  width: 100%;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.img {
  @apply bg-zinc-800 rounded-md border-2 border-neutral-500;
  padding: 15px;
  margin: 15px;
  max-height: 435px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
 }

.page {
  @apply bg-zinc-800 rounded-md border-2 border-neutral-500;
  padding: 5px;
  margin: 15px 10px;
  width: 100%;
}

.page_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_title {
  padding: 14px;
  font-weight: bolder;
  font-size: 25px;
  @media only screen and (max-width: 950px) {
    white-space: normal;
  }
}
.page_desc {
  display: flex;
  justify-content: space-between;
  margin: 45px 15px;
}